{% extends "chat/padre.html" %}
{% load static %}

{% block titulo %}
<h1 class="mb-5">Blog </h1>
{% endblock %}

{% block contenido_que_cambia %}
{% if user.is_authenticated %}
<div>
    <a class="btn btn-primary" style="color: lightblue;" href="{% url 'form_blog' %}">Crear Blog</a>
    <a class="btn btn-primary" style="color: lightblue;" href="{% url 'user_MisBlogs' %}">Mis Blogs</a>
    <a class="btn btn-primary" style="color: lightblue;" href="{% url 'resultadosblog' %}">Todos los Blogs</a>
</div>
{% endif %}
{% if Blog %}

    {% for bl in Blog %}
        <div>
            <img    src="{{ bl.imagen.url }}" height="300" alt="imagen del blog"></img>
            <h1>    {{ bl.titulo }}</h1>
        </div>
        <div>
            <h2>    {{ bl.subtitulo }}</h2>
            <h2>    {{ bl.autor }}</h2>
            <h3>    {{ bl.fecha }}</h3>
        </div>
        <div>
            <h5>    {{ bl.cuerpo }}</h5> 
        </div>
    {% endfor %}

{% else %}
<p>No se han encontrado Blogs</p>

{% endif %}

{% endblock %}
