{% extends "chat/padre.html" %}
{% load static %}

{% block titulo %}
<h1 class="mb-5">Nosotros</h1>
{% endblock %}

{% block contenido_que_cambia %}

<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h2>Sobre nosotros</h2>
                    <p class="text-black-50 mb-0"></p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src= "/media/staff/Facu.jpg"  alt="Foto staff Facu" /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h3 class="text-white">Facundo Uncal <br/> </h3>
                            <h6 class="text-white">Argentino estudiante de Licenciatura en Sistemas de Información de Luján. 24 años. Me uní al curso porque quería mejorar mis conocimientos en Python</h6>
                            <p class="mb-0 text-white-50"></p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="/media/staff/Exe.jpg" alt="Foto staff Exequiel" /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h3 class="text-white">Exequiel Fontecilla <br/> </h3>
                            <h6 class="text-white">Chileno de 25 años egresado de ingenieria economicas en la universidad de chile. le gusta la musica los perros y el campo, bueno para dormir </h6>
                            <p class="mb-0 text-white-50"></p>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project three Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src= "/media/staff/Fafa.jpg" alt="Foto staff Fabricio" /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h3 class="text-white">Fabricio ojeda <br/> </h3>
                            <h6 class="text-white">Venezolano de 29 años en plena crisis de los 30, Viviendo en España y en proceso de entrar en el mundo de la programacion </h6>
                            <p class="mb-0 text-white-50"></p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock%}