{% extends "chat/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Cambiar Contraseña de {{ user }}</h1>
{% endblock %}

{% block contenido_que_cambia %}
<div>
    <a class="btn btn-primary" style="color: lightblue;" href="{% url 'user_AddAvatar' %}">Agregar/Cambiar Avatar</a>
    <a class="btn btn-primary" style="color: lightblue;" href="{% url 'user_Edit' %}">Editar Usuario</a>
    <a class="btn btn-primary" style="color: lightblue;" href="{% url 'user_EditPass' %}">Cambiar Contraseña</a>
</div>
<h2>Formulario Cambio de Contraseña</h2>
<h3>{{ mensaje }}</h3>
<form action="{% url 'user_EditPass' %}" method="POST"> {% csrf_token %}

    <table>
        {{ formulario.as_table }}
    </table>
    <input type="submit" value="guardar">

</form>


{% endblock %}