{% extends "chat/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Agregando Avatar de {{ usuario }}</h1>
{% endblock %}

{% block contenido_que_cambia %}
<div>
    <a class="btn btn-primary" style="color: lightblue;" href="{% url 'user_AddAvatar' %}">Agregar/Cambiar Avatar</a>
    <a class="btn btn-primary" style="color: lightblue;" href="{% url 'user_Edit' %}">Editar Usuario</a>
    <a class="btn btn-primary" style="color: lightblue;" href="{% url 'user_EditPass' %}">Cambiar Contraseña</a>
</div>
<h1>Agregar Avatar</h1>
<form action="{% url 'user_AddAvatar' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

    <table>
        {{ formulario.as_table }}
    </table>
    <button type="submit">Agregar Avatar</button>
</form>
{% endblock %}